
body {
    background: rgba( 135, 205, 235, 100%);
    width: 700px;
    border: 5px solid rgba( 71, 204, 49, 100%);
    padding: 40px 50px;
    margin: 30px;
    font-family:  'Arial', sans-serif;
    color:#fff;
}
h2{
    font-size: 30px;
}
header{
    text-align: center;
}
h1 {
    font-style: italic;
    font-weight: normal;
    font-size: 37px;
    color: #fff;
    font-family: 'Georgia', serif;
}
img{
    height: 300px;
    /* float: right; */
    display: inline-block;
    padding: 0px 0px 25px 25px;
}
li {
    display: inline;
    font-weight: bold;
    font-size: 18px;
}
li + li::before {
    content: '| ';
    color: rgba( 128, 128, 128, 100%);
}
a{
    color: rgba( 74, 204, 153, 100%);
}
footer{
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.5em;
    color:rgba( 238, 238, 238, 100%);
    font-family:Georgia, 'Times New Roman', Times, serif;
}