/* Box Model Hack */
* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



img{
  max-width: 50vw;
}



/******************************************
/* SHARED STYLES
/*******************************************/

h1 {
  font-size: 7rem;
  line-height: 8rem;
  padding: 3rem 0;
  width:fit-content;
}
h1 span {
  display: block;
}
h2 {
  font-size: 2.5rem;
  color: rgba( 241, 162, 74, 100%);
}
p {
  font-size: 1.5rem;
  line-height: 2.75rem;
  text-align: justify;
}
.div__btn {
  background-color: rgba( 239, 141, 51, 100%);
  width: fit-content;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 3rem 0;
}
.div__btn * {
  color: white;
  padding: 1.75rem 1.5rem;
}
section {
  padding: 8rem 10%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 70rem;
}
.span__large {
  font-size: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/

/* #region - NAV BAR */
nav{
  position:absolute;
  right: 0;
}

nav ul {
  display:flex;
  justify-content: flex-end;
  padding: 1rem 5rem;
  height: 100%;
}
nav li {
  height: 100%;
  font-size: 1.5rem;

}
nav a {
  height: 100%;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}
nav a:hover {
  background-color: darkslategray;
  color: white;
}




/* #endregion */

/* #region - SECTION ONE */
.section__one {
  background: top / cover no-repeat url("../assets/bg1.jpg");
  padding-top: 12rem;
}
.section__one .wrapper {
  max-width: 50rem;
}



.section__one form {
  display: flex;
  height: 4rem;
  align-items: center;
  font-size: 2rem;
  position: relative;
}
.section__one input {
  height: 100%;
}
#fld__search {
  width: 80%;
  border: none;
  border-radius: .5rem 0 0 .5rem;
  padding-left: 5%;
}
#btn__search {
  width: 20%;
  padding-right: 2.5%;
  background-color: rgba( 239, 141, 51, 100%);
  color: white;
  border: none;
  border-radius: 0 .5rem .5rem 0 ;
}
.section__one form i {
  /* display: block; */
  position:absolute;
  z-index: 1;
  font-size: 1.5rem;
}
.section__one i:first-child {
  left: 1.5%;
}
.section__one i:last-child {
  right: 4%;
  color: white;
}

.links__social {
  margin: 4rem 0;
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;
  max-width: 27.5rem;
}
.section__one .links__social i {
  color: rgba( 239, 141, 51, 100%);
  font-size: 1.75rem;
}

/* #endregion */

/* #region - SECTION TWO */

.section__two {
  background: center / cover no-repeat url("../assets/bg2.jpg");
  display: flex;
  justify-content: flex-end;
}
.div__btn i {
  margin-left: 1rem;
  padding: 1.5rem;
  background-color: rgba( 242, 173, 94, 100%);
  border-radius: 0 0.5rem 0.5rem 0;
}
.div__btn a {
  padding-right: 0;
}
.section__two .wrapper {
  margin-right: 9rem;
}


/* #endregion */

/* #region - SECTION THREE */

.section__three {
  background-color: rgba( 243, 245, 247, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__meal-period {
  display: flex;
  margin-bottom: 4rem;
}

.div__meal-period a {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-bottom: 0.2rem solid rgba( 219, 221, 223, 100%);
}
.div__meal-period a:first-child {
  color: rgba( 239, 165, 84, 100%);
  border-bottom: 0.2rem solid rgba( 239, 165, 84, 100%);
}
.div__foodpix {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* max-width: 80rem; */
}
.div__foodpix div:nth-child(4){
  /* flex-basis: 100%; */
}
.div__foodpix div {
  flex-basis: 20%;
  width: 20.25rem;
  height: 27rem;
  overflow:hidden;
  margin: 1.5rem;
}
.div__foodpix a {
  width: 100%;
  height: 100%;
}
.div__foodpix img {
  margin: -100% -37.5%;
  /* max-width: 25vw; */
  max-height: 28rem;
}
div.div__hover {
  opacity: 0;
}
div.div__hover:hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  background-color: slategray;
  /* position: absolute; */
  /* z-index: 2; */
  opacity: 90%;
  overflow: hidden;
  flex-grow: 100%;
}
.div__hover span {
  color: white;
  font-size: 2rem;
  padding: 0.5rem 0;
}
span.stars{
  color: rgba( 239, 165, 84, 100%);
}
span.orderButton {
  padding: 1.5rem 1rem;
  color: white;
  opacity: 100% !important;
}


/* #endregion */

/* #region - SECTION FOUR */

.dim__bg {
  background: center / cover no-repeat url("../assets/bg3.jpg");
  opacity: .1;
  position:absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}


.section__four {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section__four i, .section__four a {
  font-size: 3rem;
  color: rgba( 239, 141, 51, 100%);
  padding: 1.5rem 0;
}
.section__four a {
  font-weight: 500;
}
.section__four span {
  font-size: 1.5rem;
  display: block;
  padding: 1rem 5rem;
}
/* .wrapper_hours {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

.wrapper__hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* text-align: center ; */
}


span.span__large {
  font-size: 3rem;
}



/* #endregion */

/* #region - SECTION FIVE */
.section__five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba( 229, 231, 237, 100%);
}

.section__five img {
  border-radius: 50%;
  width: 15rem;
  margin: 2rem 0;
}
.span__small {
  font-size: 1.75rem;
  margin: 1rem 0;
}
div.stars {
  color: rgba( 239, 141, 51, 100%);
  font-size: 1.75rem;
  margin: 2rem 0;
}

.section__five p {
  max-width: 70rem;
  font-style: italic;
  font-size: 1.75rem;
  line-height: 3rem;
}


/* #endregion */



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
