/* Box Model Hack */
* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
